header {
    position: relative;
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    background: linear-gradient(to bottom, #02D2FD 0%, #001E25 100%);
    text-align: center;
}

h1 {
    padding-top: 131.25px;
    color: white;
}

h2 {
    color: #398790;
}

section {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;

}

h {
    color: #14717C;
}

#section1 {
    text-align: left;
}

#section2 {
    text-align: right;
}

footer {
    position: relative;
    box-sizing: border-box;
    background-color: #001D24;
    height: 100px;
    text-align: center;
    width: 100%;
}

#copyright {
    color: white;
    padding-top: 43.75px;
}